<ion-view view-title="Lien Lac (Contact Us)">
  <ion-content>
      <div class="row">
          <div class="col">
              <strong>Email</strong><br />
              <a href="mailto:abhpsda@gmail.com">abhpsda@gmail.com</a>
          </div>
          <div class="col">
              <strong>International Phone</strong><br />
              <a href="tel:1-888-901-4747">1-888-901-4747</a><br />
              <strong>Vietnam Phone</strong><br />
              <a href="tel:0984 173 202">0984 173 202</a>

          </div>
          <div class="col">
              <strong>Website</strong><br />
              <a href="#" onclick="window.open('http://anbinhhanhphuc.com', '_system', 'location=yes'); return false;">anbinhhanhphuc.com</a><br />
              <a href="#" (click)="launch('https://abhptv.com')">abhptv.com</a>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <strong>Ðịa Chỉ Hoa Kỳ (US)</strong><br />
              An Bình Hạnh Phúc<br />
              P.O. Box 6130<br />
              Santa Ana, CA 92706
          </div>
          <div class="col">
              <strong>Ðịa Chỉ Hồng Kông</strong><br />
              An Bình Hạnh Phúc<br />
              P.O. Box 310 Hong Kong<br />
          </div>
          <div class="col">
          </div>
      </div>

      <div class="row">
          <div class="col">
              <strong>Hội Thánh Orange County (Vietnamese Church)</strong><br />
              <a href="https://www.google.com/maps/place/2101+W+Edinger+Ave,+Santa+Ana,+CA+92704">
                  2101 West Edinger Ave.<br />
                  Santa An, CA 92704
              </a><br />
              <a href="tel:1-714-557-7999">1-714-557-7999</a>
          </div>
          <div class="col">
              <strong> Hội Thánh San Diego (Vietnamese Church)</strong><br />
              <a href="https://www.google.com/maps/place/4185+Home+Ave,+San+Diego,+CA+92105">
                  4185 home ave.<br />
                  San Diego, CA 92105
              </a><br />
              <a href="tel:1-760-599-4747">1-760-599-4747</a>
          </div>
          <div class="col">
              <strong>Hội Thánh Loma Linda (Viethamese Church)</strong><br />
              <a href="https://www.google.com/maps/place/711+W+C+St,+Colton,+CA+92324">
                  711 west c street<br />
                  Colton, CA 92324
              </a><br />
              <a href="tel:1-909-825-6886">1-909-825-6886</a>
          </div>
      </div>
  </ion-content>
</ion-view>
