<ion-view view-title="">
  <ion-content>

      <div class="container" style="padding-left:3px;">
          <iframe ng-show="isOnline" id="mediaFrame" src="https://www.youtube.com/embed/CLVTSRXmFnw?width=640&height=390&autoplay=1&modestbranding=1&fs=0"  frameborder="0" scrolling="no" style="border:none"></iframe>
          <p ng-show="!isOnline">You must be connected to a Wi-Fi or celluar data network.</p>
          <!--<iframe id="mediaFrame" src="http://livestream.com/accounts/13311218/events/4008020/player?width=640&height=360&autoPlay=true&mute=false" frameborder="0" scrolling="no" style="border:none"></iframe>-->

          <!--<div class="row">
              <div class="col-xs-4">
                  <a href="http://abhp.us/component/abhp/?task=baigiang&view=livetv">
                      <img src="img/tv.png" height="70" width="70" />
                  </a>
                  <br />&nbsp;&nbsp;
                  <strong>24/7 TV</strong>
              </div>
              <div class="col-xs-4 col-md-4 center-block text-center">
                  <a href="https://livestream.com/accounts/3651008/events/3999368">
                      <img src="img/livestream.png" height="70" width="70" />
                  </a>
                  <br />
                  <strong>Trực Tuyến Mỗi Thứ Bảy</strong>
                  <br />
                  <strong>(Online Every Saturday)</strong>
              </div>
              <div class="col-xs-4 col-md-4 center-block text-center">
                  <a href="https://www.youtube.com/user/AnBinhHanhPhuc/videos"><img src="img/YouTube-icon.png" height="70" width="70" /></a>
                  <br />
                  <strong>You Tube</strong>
              </div>
              <div class="col-xs-4 col-md-4 center-block text-center">
                  <a href="https://www.facebook.com/abhp.us"><img src="img/facebook.png" height="70" width="70" /></a>
                  <br />
                  <strong>Facebook</strong>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-4 col-md-4 center-block text-center">
                  <a href="http://abhp.us/component/abhp/?task=baigiang&view=podcast&Itemid=151"><img src="img/podcast.png" height="70" width="70" /></a>
                  <br />
                  <strong>Truyền Thanh (Podcast)</strong>
              </div>
              <div class="col-xs-4 col-md-4 center-block text-center">
                  <a href="http://abhp.us/lien-lac.html"><img src="img/contact.png" height="70" width="70" /></a>
                  <br />
                  <strong>Contact Us</strong>
                  <strong>Lien Lac (Contact Us)</strong>
              </div>
              <div class="col-xs-4 col-md-4 center-block text-center">
                  <p style="line-height: 10px;">&nbsp;</p>
                  <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=5n7OqwuOsvr82Tu-lVXso-VPXErf1lwTcXXpDCuSx4tVcSEpo9mkgsIDa3u&dispatch=5885d80a13c0db1f8e263663d3faee8d0288a7fd2903afb85a5540fd44243d03"><img src="img/donate.png" height="50" width="80" /></a>
                  <br />
                  <strong>Dâng Hiến (Donate)</strong>

              </div>
          </div>-->
      </div>
  </ion-content>
</ion-view>
