<ion-view view-title="Thờ Phượng Sa-bát (Sabbath Worship)">
  <ion-content>
      
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-12 center-block text-center" style="padding-left: 5px; padding-right: 5px;">
                  <iframe id="mediaFrame2" src="http://livestream.com/accounts/3651008/events/3999368/player?width=640&height=360&autoPlay=true&mute=false" frameborder="0" scrolling="no" style="border:none"></iframe>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
